<!DOCTYPE html>
<html>
  <head>
    <title><%= @site_name %> - <%= @site_description %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon-32x32.png" %>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <nav class="green lighten-1">
        <div class="nav-wrapper">
          <div class="container">
            <a href="<%= root_path %>" class="brand-logo"><%= @site_name %></a>
            <ul id="nav-mobile" class="right">
              <li><%= link_to("Sign in", new_user_session_path) %></li>
            </ul>
          </div>
        </div>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="page-footer green lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"><%= @site_name %></h5>
            <p class="grey-text text-lighten-4">Uma uniciativa onebitcode.com.br</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © <%= Time.now.strftime("%Y")  %> Copyright <% @sitename %> & <a class="grey-text text-lighten-4" href="#">onebitcode.com.br</a>
          <%= link_to "Sign in", new_user_session_path, class: "grey-text text-lighten-4 right" %></a>
        </div>
      </div>
    </footer>
  </body>
</html>
